<section class="component-container">
    <p class="game-title">Pick a shape</p>
    <div class="game-container">
        <div id="squareOption" ng-click="$ctrl.toCircle();"></div>
        <div id="circleOption" ng-click="$ctrl.toSquare();"></div>
        <!-- <svg id= "poly-container" ng-click= "$ctrl.toPoly();"viewBox="0 0 128 128">
            <polygon id = "poly-shape" points="64 68.73508918222262 8.574 99.9935923731656 63.35810017508558 67.62284396863708 64 3.993592373165592 64.64189982491442 67.62284396863708 119.426 99.9935923731656"></polygon>
        </svg> -->
    </div>
    <i class="next-btn far fa-arrow-alt-circle-right" ng-click="$ctrl.nextUp();"></i>
</section>