<section class="component-container">
    <p class="game-title">Pick a shape</p>
    <div class="game-container">
        <div id="squareOption" ng-click="$ctrl.toCircle(); $ctrl.nextUp();"></div>
        <div ng-click="$ctrl.toStarFleet(); $ctrl.addScore(3); $ctrl.nextUp();" id="diamondOption">
            <svg id="diamond-starfleet" viewBox="0 0 352 337">
                <path class="diamond" d="M291.03 170 179.52 332 68.02 170 179.52 8 291.03 170Z">
            </svg>
        </div>
        <div ng-click="$ctrl.toPolygon(); $ctrl.addScore(1); $ctrl.nextUp();" id="polygonOption">
            <svg id="star-polygon" viewBox="0 0 352 337">
                <polygon class="star" points="175.5 0.06 230 110.49 351.87 128.19 263.68 214.15 284.5 335.53 175.5 278.22 66.5 335.53 87.32 214.15 -0.87 128.19 121 110.49 175.5 0.06"></polygon>
            </svg>
        </div>
        <div id="circleOption" ng-click="$ctrl.toSquare(); $ctrl.addScore(2); $ctrl.nextUp();"></div>
</section>