<section class="component-container">
	<p class="game-title"> {{$ctrl.userName}}'s Favorite Playlists</p>
	<section class="fav-container">
		<ul class="fav-list">
			<li class="fav-playlist" ng-repeat="playlist in $ctrl.favePlaylists">
				<img ng-click="$ctrl.viewFavorite($index);" class="playlist-cover" ng-src="{{playlist.image}}">
				<p ng-click="$ctrl.viewFavorite($index);" class="favs">{{playlist.name}}</p>
				<i ng-click="$ctrl.deletePlaylist($index, 1);" class="material-icons">close</i>
			</li>
		</ul>
	</section>
</section>