<section class="component-container">
    <p class="game-title">Pick a gummy bear.</p>
    <div class="game-container">
        <img ng-click= "$ctrl.nextUp(); $ctrl.addScore3();" hide-options jiggle class="gummy-bear" src="images/gummy-bears/gummybear-blue.png">
        <img ng-click= "$ctrl.nextUp();" hide-options jiggle class="gummy-bear" src="images/gummy-bears/gummybear-red.png">
        <img ng-click= "$ctrl.nextUp(); $ctrl.addScore2();" hide-options jiggle class="gummy-bear" src="images/gummy-bears/gummybear-green.png">
        <img ng-click= "$ctrl.nextUp(); $ctrl.addScore1();" hide-options jiggle class="gummy-bear" src="images/gummy-bears/gummybear-yellow.png">
    </div>
</section>