<section class="component-container">
    <i class="fab fa-fort-awesome tablet-only animal-anim" id="animal-fort"></i>
    <p class="game-title mobile-only">Choose a pet.</p>
    <p class="game-title tablet-only">Move a pet to the castle.</p>
    <section ng-class="{'animated bounceOutLeft': $ctrl.bounceOutBool === true}" class="game-container">

        <img draggable ng-click="$ctrl.addScore();" class="animals " src="images/dog.svg">
        <img draggable ng-click="$ctrl.addScore();" class="animals " src="images/fox.svg">
        <img draggable ng-click="$ctrl.addScore();" class="animals " src="images/capybara.svg">
        <img draggable ng-click="$ctrl.addScore();" class="animals " src="images/giraffe.svg">

    </section>
</section>