
<section class="component-section">
    <p ng-class= "{'animated bounceOutLeft': $ctrl.bounceOutBool === true}"
    class="game-title">Pick a gummy bear.</p>
    <div ng-class="{'animated bounceOutLeft': $ctrl.bounceOutBool === true}"
    class="game-container">
        <img jiggle class="gummy-bear" src="images/purple-gummy.png">
        <img jiggle class="gummy-bear" src="images/red-gummy.png">
        <img jiggle class="gummy-bear" src="images/green-gummy.png">
        <img jiggle class="gummy-bear" src="images/yellow-gummy.png">
    </div>
    <i ng-class= "{'animated bounceOutLeft': $ctrl.bounceOutBool === true}" 
    class="next-btn far fa-arrow-alt-circle-right" ng-click="$ctrl.bounceOut();"></i>
</section>