
<section class= "component-container">
    <p class="game-title">Choose a color.</p>
    <div class="game-container">
        <div ng-click="$ctrl.getLinks(); $ctrl.rippleEffect(); $ctrl.nextUp(); $ctrl.addScore(2);" hide-options class="color-shapes blue-gradient" color-picker></div>
        <div ng-click="$ctrl.getLinks(); $ctrl.rippleEffect(); $ctrl.nextUp(); $ctrl.addScore(3);" hide-options class="color-shapes teal-gradient" color-picker></div>
        <div ng-click="$ctrl.getLinks(); $ctrl.rippleEffect(); $ctrl.nextUp(); $ctrl.addScore(1);" hide-options class="color-shapes red-gradient" color-picker></div>
        <div ng-click="$ctrl.getLinks(); $ctrl.rippleEffect(); $ctrl.nextUp();"  hide-options class="color-shapes pink-gradient" color-picker></div>
    </div>

</section>
