/* Coolors Exported Palette - coolors.co/321437-2a2372-23726a-842323-ac25b5 */

/* RGB */
$color1: rgba(50, 20, 55, 1); // Background-color top right
$color2: rgba(150, 150, 150, 1); // Background-color bottom left
$sideBar: rgba(216, 216, 216, 0.5); // sidebar box for home/info
$contentBox: rgba(216, 216, 216, 0.2); // box for choices
$color3: rgba(42, 35, 114, 1);
$color4: rgba(35, 114, 106, 1);
$color5: rgba(132, 35, 35, 1);
$color6: rgba(172, 37, 181, 1);