/**********************/
/*******GENERAL********/
/**********************/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(50, 50, 50, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

.view-animation.ng-enter {
    animation: zoomIn 1.5s;
    -webkit-animation: zoomIn 1.5s;
}

.view-animation.ng-leave {
    animation: bounceOutRight 1s;
    -webkit-animation: bounceOutRight 1s;
}
.clear {
    clear: both;
}
/********************/
/*******ABOUT********/
/********************/
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 359px;
    width: 320px;
}
.tag-line {
    font-size: 20px;
    text-align: center;
}
#join-us {
    cursor: pointer;
    font-size: 60px;
    animation: rainbowButton 10s;
    -webkit-animation: rainbowButton 20s infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
@keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 
@-webkit-keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 

/**********************/
/*******SIDEBAR********/
/**********************/
.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(216, 216, 216, 0.5);
}
.logo {
    cursor: pointer;
    margin: 0;
    width: 40vw;
    max-width: 215px;
}
.little-a {
    font-size: .8em;
}
/************************/
/*******COMPONENTS*******/
/************************/
.component-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.2);
    height: 359px;
    width: 100%;
    max-width: 359px;
    border-radius: 8px;
}

.game-title {
    text-align: center;
}
/**********************/
/*****GUMMY BEARS******/
/**********************/
.gummy-bear {
    cursor: pointer;
    height: 40vw;
    max-height: 144px;
    margin: 0 30px;
}



.cont-jello{
    -webkit-animation: 
    jello
    1.5s
    infinite;
    animation: jello
    1.5s
    infinite; 
}

.animal-anim {
    -webkit-animation: 
    tada
    1.5s
    infinite;
    animation: tada
    1.5s
    infinite;     
}
/**********************/
/*****COLOR SHAPES*****/
/**********************/

.color-shapes {
    cursor: pointer;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px white; */
}
.blue-gradient {
    background-image: linear-gradient(225deg, rgb(0, 0, 0), rgba(42, 35, 114, 1));
}
.teal-gradient {
    background-image:  linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(35, 114, 106, 1));
}
.red-gradient {
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(132, 35, 35, 1));
}
.pink-gradient {
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(172, 37, 181, 1));
}

/*******************/
/******ANIMALS******/
/*******************/

/* .dog-box {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    height: 30vw;
    width: 35vw;
    margin: 0;
    z-index: 999999;
    top: 70vw;
    left: 9vw;
}

.fox-box {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    height: 35vw;
    width: 35vw;
    margin: 0;
    z-index: 999999;
    top: 70vw;
    right: 5vw;
}
.capybara-box {

}
.giraffe-box {

} */
.animals {
    width: 35%;
    cursor: pointer;
}
/* CAPYBARA */
.capybara-color-1 {
    fill: #878791;
}
.capybara-color-2 {
    fill: #c39b6e;
}
.capybara-color-3 {
    fill: #ac8a67;
}
.capybara-color-4 {
    fill: #c0c0c6;
}
.capybara-color-5 {
    fill: #9e9ea6;
}
.capybara-color-6 {
    fill: #464655;
}
.capybara-eyes {
    animation: blink 3s infinite;
}
/* DOG */
.dog-color-1 {
    fill: #963;
}
.dog-color-2 {
    fill: #ededed;
}
.dog-color-3 {
    fill: #878786;
}
.dog-color-4 {
    fill: #7c522c;
}

/* FOX */
.fox-color-1 {
    fill: #f7f6e2;
}
.fox-color-2 {
    fill: #c9c7b8;
}
.fox-color-3 {
    fill: #ffa54b;
}
.fox-color-4 {
    fill: #ff8c46;
}

/* GIRAFFE */
.giraffe-color-1 {
    fill: #db9437;
}
.giraffe-color-2 {
    fill: #f3b73f;
}
.giraffe-color-3 {
    fill: #e7a53b;
}
.giraffe-color-4 {
    fill: #ffc843;
}
.giraffe-eyes {
    fill: black;
}
/******************/
/******SHAPES******/
/******************/
#squareOption {
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-color: #F00;
    opacity: .7;
}
#circleOption {
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-color: yellow;
    border-radius: 5em;
    opacity: .7;
}
#polygonOption, #bloblOption {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
    /* width: 140px;
    height: 140px; */
}
#star-polygon {
    width: 140px;
    height: 140px;
    /* fill: rgb(198, 14, 142); */
}
.star {
    fill: rgb(167, 234, 229);
    margin: auto;
}
#diamond-starfleet {
    height: 140px;
    width: 140px;
}
#diamondOption {
    cursor: pointer;
}

.diamond {
    fill: rgb(163, 125, 183);
    margin: auto;
}
/******************/
/*****RESULTS******/
/******************/
.new-playlist {
    cursor: pointer;
    font-size: 18px;
}
.new-playlist:hover {
    color: #1DB954;
    font-size: 20px;
}
.add-fave {
    cursor: pointer;
    font-size: 18px;
    padding: 2px 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 0;
}
iframe {
    width: 300px;
    height: 380px;
}
/*************************/
/******MEDIA QUERIES******/
/*************************/
@media only screen and (min-width: 768px) {
    .game-title {
        font-size: 30px;
    }
    .side-bar {
        position: absolute;
        left: 0;
        height: 100vh;
        width: 30vw;
        flex-direction: column;
        justify-content: space-around;
    }
    .component-container {
        position: absolute;
        right: 0;
        width: 70vw;
        height: 100vh;
    }
    iframe {
        height: 500px;
    }
}