/**********************/
/*******GENERAL********/
/**********************/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(50, 50, 50, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.view-animation.ng-enter {
    -webkit-animation: zoomIn 1.5s;
    -moz-animation: zoomIn 1.5s;
    -o-animation: zoomIn 1.5s;
    animation: zoomIn 1.5s;
}

.view-animation.ng-leave {
    -webkit-animation: bounceOutRight 1s;
    -moz-animation: bounceOutRight 1s;
    -o-animation: bounceOutRight 1s;
    animation: bounceOutRight 1s;
}
.bold-slant {
    font-weight: 700;
    font-style: italic;
}
/********************/
/*******ABOUT********/
/********************/
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 359px;
    width: 320px;
}
.tag-line {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
#join-us {
    cursor: pointer;
    font-size: 60px;
    -webkit-animation: rainbowButton 20s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -moz-animation: rainbowButton 20s infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: alternate;
    -o-animation: rainbowButton 20s infinite;
    -o-animation-timing-function: linear;
    -o-animation-direction: alternate;
    animation: rainbowButton 20s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 
@-webkit-keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 
@-moz-keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 
@-o-keyframes rainbowButton {
    0% {color: cyan}
    33% {color: rgb(88, 237, 203)}
    66% {color: lightgreen}
    100% {color: greenyellow} 
} 

/**********************/
/*******SIDEBAR********/
/**********************/
.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(216, 216, 216, 0.2);
}
.logo {
    cursor: pointer;
    margin: 0;
    width: 40vw;
    max-width: 215px;
}
.little-a {
    font-size: .8em;
}
.description {
    display: none;
}
/************************/
/*******COMPONENTS*******/
/************************/
.component-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.2);
    height: 359px;
    width: 100%;
    max-width: 359px;
    border-radius: 8px;
}
.game-title {
    text-align: center;
    margin-bottom: 50px; 
}
/**********************/
/*****GUMMY BEARS******/
/**********************/
.gummy-bear {
    cursor: pointer;
    height: 40vw;
    max-height: 144px;
    margin: 0 30px;
}
.cont-jello{
    -webkit-animation: 
    jello
    1s
    infinite;
    animation: jello
    1s
    infinite;
    -moz-animation: jello
    1s
    infinite; 
    -o-animation: jello
    1s
    infinite;  
}
/**********************/
/*****COLOR SHAPES*****/
/**********************/

.color-shapes {
    cursor: pointer;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.blue-gradient {
    background-image: linear-gradient(225deg, rgb(0, 0, 0), rgba(42, 35, 114, 1));
}
.teal-gradient {
    background-image:  linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(35, 114, 106, 1));
}
.red-gradient {
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(132, 35, 35, 1));
}
.pink-gradient {
    background-image: linear-gradient(225deg, rgba(50, 20, 55, 1), rgba(172, 37, 181, 1));
}

/*******************/
/******ANIMALS******/
/*******************/
.animal-anim {
    -webkit-animation: 
    tada
    1.5s
    infinite;
    animation: tada
    1.5s
    infinite; 
    -moz-animation: tada
    1.5s
    infinite;  
    -o-animation: tada
    1.5s
    infinite;      
}
.animals {
    width: 35%;
    cursor: grab;
}

#animal-crate {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 125px;
}
#animal-crate .bars {
    width: 35%;
    height: 100%;
    border: 3px solid black;
    background-color: rgba(216, 216, 216, 0.2);
}
#animal-crate .bar-left {
    border-right: none;
}
#animal-crate .bar-right {
    border-left: none;
}
/******************/
/******SHAPES******/
/******************/
#squareOption {
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-color: #F00;
    opacity: .7;
}
#circleOption {
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-color: yellow;
    border-radius: 5em;
    opacity: .7;
}
#polygonOption {
    cursor: pointer;
}
#star-polygon {
    width: 140px;
    height: 140px;
}
.star {
    fill: rgb(167, 234, 229);
    margin: auto;
}
#diamond-starfleet {
    height: 140px;
    width: 140px;
}
#diamondOption {
    cursor: pointer;
}

.diamond {
    fill: rgb(163, 125, 183);
    margin: auto;
}

/*************************/
/********WHEEL************/
/*************************/

.name-input {
    text-align: center;
    width: 340px;
    height: 70px;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: transparent;
    -webkit-appearance: none;
}
.dial-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dial {
    
    width: 300px;
    height: 300px;
}

.min {
    font-size: 18px;
}

.max {
    font-size: 18px;
}


/*************************/
/*****DRAGGABLE ORBS******/
/*************************/

#container {
    width: 100%;
    height: 400px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
  }
  #item {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
  }
  #item:active {
    background-color: rgba(168, 218, 220, 1.00);
  }
  #item:hover {
    cursor: pointer;
    border-width: 20px;
  }

/******************/
/*****RESULTS******/
/******************/
.new-playlist {
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}
.new-playlist:hover {
    color: #1DB954;
}
.add-fave {
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 0;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}
.see-favorites {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 15px;
}
.favs {
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    color: whitesmoke;
    padding: 20px 10px; 
}
.fav-list {
    padding: 0;
}
.fav-playlist{
    list-style-type: none;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.fav-playlist:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
.fav-container {
    width: 100%;
    max-width: 359px;
    height: 65%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: black;
}
.playlist-cover {
    height: 80px;
    width: 80px;
    cursor: pointer;
    margin-left: 10px;
}
iframe {
    width: 300px;
    height: 380px;
}
.material-icons {
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    color: #1DB954;
}
/*************************/
/******MEDIA QUERIES******/
/*************************/
@media only screen and (min-width: 768px) {
    .game-title {
        font-size: 30px;
    }
    .side-bar {
        position: absolute;
        left: 0;
        height: 100vh;
        width: 30vw;
        flex-direction: column;
        justify-content: space-around;
    }
    .description {
        display: block;
        padding: 15px 25px;
        font-size: 24px;
        margin: 0px;
        font-weight: 400;
    }
    .component-container {
        position: absolute;
        right: 0;
        width: 70vw;
        height: 100vh;
    }
    .game-container {
        height: 400px;
        max-width: 400px;
    }
    iframe {
        height: 500px;
    }
    .fav-container {
        max-width: 450px;
    }
    .material-icons {
        font-size: 35px;
    }
    .playlist-cover {
        height: 125px;
        width: 125px;
    }
}
@media only screen and (min-width: 1024px) {
    .logo {
        max-width: 300px;
    }
}
@media only screen and (min-width: 1400px) {
    .logo {
        max-width: 400px;
    }
}
